<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

</head>
<body>
<% include templates/header.ejs %>
<h1>Node Blog</h1>

<%= for(let i = 0; i < posts.length; i++) { %>
<article>
    <p><% posts[i].body %></p>
</article>
<% } %>
<form action="addPost">
    <textarea name="body"></textarea>
    <input type="submit" value="Add Post" />
</form>
<script src="blog.js"></script>
</body>
</html>
